div.pages-num {
    gap: 1rem;
}

div.pages-num button {
    padding: .3rem .8rem;
    border: 1px solid var(--sub-title);
    border-radius: 7px;
    font-weight: 600;
    font-size: 1.1rem;
    transition: .3s;
    color: var(--sub-title);
    
}

div.pages-num button:hover {

    border: 1px solid var(--green);
    scale: 1.02;
}
